name: Continuous Integration

on:
  push:
  pull_request:

jobs:
  fuzzing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip3 install --upgrade pip
          python3 -m pip3 install pandas numpy gitpython

      - name: Run fuzzing
        run: python3 fuzz.py
